body {
  margin: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #ee3643;
}

.header-service {
  background-color: #293449;

  font-size: 17px;
  line-height: 18px;
}

.header-service a:hover,
.header-service a:focus {
  background-color: #212a3a;
}

.header-service a:active {
  background-color: #161d29;
}

.header-logo {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;

  background-color: #ee3643;

}

.header-logo:hover,
.header-logo:focus {
  background-color: #ca2c37;
}

.header-logo a:hover,
.header-logo a:focus {
  background-color: #ca2c37;
}

.header-logo a:active {
  background-color: #ba2732;
}

.search input {
  font: inherit;
}

.header-bookmarks {
}

.header-order {
  text-align: center;

  background-color: #63a63e;
}

.header-order a:hover,
.header-order a:focus {
  background-color: #5fbb2d;
}

.header-order a:active {
  background-color: #518534;
}

.header-about-title {
  margin: 0;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.header-number {
  font-size: 21px;
  line-height: 21px;
  color: #e9292a;
}

.header-location {
  font-size: 14px;
  line-height:24px;
  color: #32425c;
}

.header-user-login a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.header-user-login a:hover,
.header-user-login a:focus {
  color: #ee3643;
}

.header-user-login a:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-navigation {
  font-size: 17px;
  line-height: 17px;

  background-color: #32425c;
}

.header-navigation a {
  color: #ffffff;
}

.header-navigation a:hover,
.header-navigation a:focus {
  background-color: #293449;
}

.header-navigation a:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #1d2739;
}

.features-shop {
  background-color: #f4f8fa;
}

.features-description a {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;

  text-transform: uppercase;
}

.features-description b {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
}

.features-slider {
  color: #ffffff;
}

.features-slider b {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.catalog-item h3 {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.popular-items-list h2,
.popular-manufacturer-list h2,
.services-shop h2,
.catalog-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
}

.catalog-last-price,
.catalog-price {
  font-size: 17px;
  line-height: 18px;
}

.catalog-price {
  color: #ffffff;
  background-color: #ee3643;
}

.catalog-last-price {
  color: #a9a9a9;
  text-decoration: line-through;
}

.catalog-item-options {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;

  text-transform: uppercase;
}

.catalog-item-buy {
  background-color: #63a63e;
}

.catalog-item-bookmark {
  color: #32425c;
}

.services-shop h2 {
  color: #000000;
}

.services-shop h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
}

.services-shop p,
.about-shop p,
.contacts-shop p,
.about-punchers p {
  margin: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

.about-shop h2,
.contacts-shop h2,
.about-punchers b {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.about-us-company {
  line-height: 20px;
}

.footer-logo {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;

  background-color: #ee3643;
}

.footer-contacts {
  background-color: #32425c;
}

.footer-contacts p {
  margin: 0;

  color: #ffffff;
}

.navigation-special a {
  color: #ffd180;
}

.footer-about-us {
  background-color: #293449;
}

.footer-about-us p {
  margin: 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.footer-about-us a {
  color: #ffd180;
}

.write-us-form label {
  line-height: 18px;
}

/* CATALOG */

.header-user-menu a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.header-user-menu a:hover,
.header-user-menu a:focus {
  color: #ee3643;
}

.header-user-menu a:active {
  color: rgba(50, 66, 92, 0.3);
}

.header-user-controller p > a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.catalog-breadcrumbs a,
.catalog-filter span,
.catalog-sort {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;

  text-transform: uppercase;
}

.catalog-filter legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
}

.catalog-filter-producer,
.catalog-radio-type {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}

.catalog-sort a {
  font: inherit;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-sort-active {
  color: #ee3643;
}

.catalog-pagination {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.catalog-pagination a {
  color: #000000;
}

.catalog-pagination-active {
  color: #ee3643;
}
